body {
    background-color: #2C2C2C;
}
a, h1, h2, h3, h4, p, ul, li{
    color: #AAAAAA;
}
#postArea {
    border-style: solid;
    width: 300px;
}
.board-logo {
    text-align: center;
    vertical-align:middle;
}
.container-top {
    display: block;
}
.text-container {
    background-color: #333333;
}
